@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-slate-200;
    @apply text-slate-600;
  }
}

.max-container {
  @apply mx-auto max-w-[1440px] min-w-[350px];
}

.flex-item-center {
  @apply flex items-center;
}

.padding-x {
  @apply px-4 md:px-10;
}
.title {
  @apply font-semibold text-slate-800;
}
